html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #eaeaea;
  color: #4f4f4f;
  font-family: "Helvetica Neue", "Helvetica", "Verdana", Arial, sans-serif;
  line-height: 1.4em;
}

a {
  color: inherit;
}

header {
}

.content {
  margin: 20px auto; 
  width: 500px;
}

footer {
  color: #a6a6a6;
  margin: 50px auto 0;
  font-size: 14px;
  text-align: center;
}

footer a {
  color: inherit;
}

h1, h2 {
  text-align: center;
}

h1 {
  color: #61a1bc;
}

h2 {
  color: #797B74;
}

h2.classy {
  color: #FF8800;
}

button {
  border: 0;
  outline: none;
  padding: 10px 20px;
  margin: 0 5px;
  text-align: center;
  font-weight: bold;
  font-size: 90%;
  letter-spacing: .1em;
  text-transform: uppercase;
  border-radius: 4px;
  color: #5e6163;
  background-color: #D9D9D9;
  cursor: pointer;
  display: inline-block;
  box-sizing: border-box;
}

button:hover {
  opacity: 0.75;
}

input[type="text"] {
  padding: 6px 10px;
  font-size: 1.15em;
  box-sizing: border-box; 
  display: inline-block;
}

ul {
  margin: 30px 0;
  padding: 0;
  list-style: none;
  font-size: 1.5em;
  font-weight: bold;
  text-align: left;
}

li {
  background: #fff;
  height: 25px;
  position: relative;
  padding: 15px 30px;
  margin-bottom: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

li:hover {
  background: #fcfcfc;
  /* background: #61a1bc; */
  box-shadow: 0 3px 6px rgba(0,0,0,0.2);
  cursor: pointer;
}

li .phrase {
  position: absolute;
  top: 18px;
  left: 80px;
}

li .points {
  position: absolute;
  top: 18px;
  right: 80px;
}

li.marked {
  background: #61a1bc;
}

.button-group {
  text-align:  center;
  margin-top: 25px;
}

.name-input {
  margin-top: 20px;
  text-align: center;
}

.name-input input[type="text"] {
  float: left;
  width: 55%;
  margin-right: 10px;
}

.debug {
  color: #797B74;
  text-align: center;
  border: 1px dashed #c5c5c5;
  margin: 25px 0 0 0;
  padding: 15px;
}

.score {
  color: #61a1bc;
  font-size: 1.5em;
  font-weight: bold;
}

.score .label {
  position: relative;
  left: 285px;
}

.score .value {
  position: relative;
  left: 314px;
}

.alert {
  color: #797B74;
  padding: 10px;
  text-align: center;
  background:  #FBF7DD;  
  border: 1px solid #F8E7C1;
  font-weight: bold;
}

.close {
  margin-left: 15px;
  color: #797B74;
  font-weight: bold;
  float: right;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 1em;
}

.close:hover {
  color: black;
}

hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px dashed #c5c5c5;
}
